<div class="horizontal-scroller">
	<div class="first-content">
		<p class="content-title">Designing a Smart City</p>
		<p class="content-description">Woah, nothing is here yet! This website is still under development, please try again later.</p>
	</div>

	<div class="main-img">
	</div>

	<div class="second-content">
	</div>
</div>