<div class="horizontal-scroller">
	<div class="main-img">
		<img src="~/media/Bestuursfoto.png" />
	</div>

	<div class="first-content">
		<p class="content-title">High-Tech, Human Touch</p>
		<p class="content-description">
			I just blatantly stole the slogan of the University of Twente here, the place where I started this journey. I believe it applies to me well though; I am extremely passionate about technology, and gaining skills and knowledge in the field of robotics is a big part of me.
			Besides that, I also feel like being human is a magical thing. I care about the people around me, I want to help where I can and collaborate with others to achieve great things. I want to inspire and be inspired. I want to apply technology in a way that matters. I want to make sure that the next revolution will benefit society in the best way possible.
		</p>
		<p class="content-description">On this website you can look through some of my technical projects of the past 3 years. While these are showcasing my technical skills and experiences, there are many more experiences such as my full time chair position within the board for our study association W.S.G. Isaac Newton, which have taught me a lot about collaborating and getting things done.
			For example during my time responsible for the association, the Covid-19 pandemic hit which changed how everything worked. I had to adapt, be flexible, be creative and take initiative. Moreover, good teamwork and communication with many involved parties was essential.
		</p>
		<p class="content-description"><br></p>
		<p class="content-description">For my next adventure, I am excited to not only work with robots, but with inspiring and passionate people as well!</p>

		<p class="links"><a href="https://www.isaacnewton.utwente.nl/home"><i class="fa fa-mouse-pointer"></i> W.S.G. Isaac Newton</a> </p>
	</div>

	<div class="second-content">
	</div>
</div>