<div class="horizontal-scroller">
	<div class="first-content">
		<p class="content-title">Mages vs Essay Pages</p>
		<p class="content-description">You have an Essay deadline at midnight, but you want to play Mage Hunter! Convince yourself in a card game battle with dopamine, psychology and excuses that you will find while slaying mages. But remember, the deadline is inevitable...</p>
		<p class="content-description">This game was made in 72 hours, with barely any prior experience in game development. I thought it would be a nice way to challenge myself and learn something new!</p>
		<p class="links"><a href="https://haastregt.itch.io/mages-and-essay-pages"><i class="fa fa-mouse-pointer"></i> Play Online</a> </p>
	</div>
	
	<div class="main-img">
		<img src="~/media/GameThumbnail.png" />
	</div>

	<div class="second-content">
	</div>
</div>